.categories {
  display: grid;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

@media (min-width: 688px) {
  .categories {
    grid-template-columns:repeat(2, 1fr);
  }
}