.footer {
  color: white;
  background: #002b3c;
  padding: 20px;
  .footer_section {
    padding: 20px 0;
    .logo_container {
      .footer_logo {
        font-size: 30px;
        text-align: center;
        span {
          color: red;
        }
      }
      .footer_description {
        margin: 20px 0;
        font-size: 15px;
      }
    }
    .footer_social_icons {
      display: flex;
      .footer_social_icon {
        font-size: 25px;
        color: white;
        margin-right: 5px;
      }
    }
    .menu_title {
      text-align: center;
      font-size: 25px;
      color: gold ;
    }
    .links_container {
      .links {
        margin-top: 30px;
        li {
          margin-top: 10px;
          font-size: 15px;
        }
      }
    }
    .contact_container {
      margin-top: 30px;
      .contact {
        padding-top: 30px;
        li {
          margin-top: 10px;
          .contact_icon {
            font-size: 15px;
            margin-right: 10px;
          }
          p {
            font-size: 15px ;
          }
        }
      }
    }
    .atm_cards {
      margin-top: 20px;
    }
  }
}

@media (min-width: 688px) {
  .footer {
    font-size: 10px;
    .footer_section {
      .logo_container {
        .footer_logo {
          font-size: 30px;
          text-align: left;
        }
        .footer_description {
          font-size: 10px;
        }
      }
      .links_container {
        margin-top: 10px;
        .links {
          li {
            font-size: 10px;
          }
        }
      }
      .menu_title {
        text-align: left;
        font-size: 15px;
      }
      .contact_container {
        margin-top: 10px;
        .contact {
          li {
            font-size: 10px;
            .contact_icon {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}