.section {
  padding: 20px 0;
  margin-top: 50px;
}

.section_title {
  max-width: 300px;
  font-size: calc(20px + 0.5vh);
  color: white;
  background: black;
  margin-left: 30px;
  padding: 10px;
  margin-bottom: 10px;
}