.slider {
  background: url(../public/category4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  &::before {
    background: #000;
    opacity: 0.6;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    backdrop-filter: blur(20px);
  }
  .arrow_container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    padding: 0 20px;
    z-index: 99;
    .arrow {
      background: #eeeeee;
      box-shadow: 3px 3px 2px rgb(0,0,0, 0.2);
      padding: 10px;
      border-radius: 100%;
      font-size: 35px;
      transition: all 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .wrapper {
    height: 100%;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    transition: all 1s ease;
    .slide {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-top: -100px;
    }
    img {
      object-fit:cover;
      position: absolute;
      z-index: 1000;
    }
    .slide_title {
      font-size: 45px;
      text-align: center;
      color: gold;
      letter-spacing: 1.3pt;
    }
    .slide_content {
      font-size: 30px;
      text-align: center;
      margin-top: 10px;
      color: white;
      letter-spacing: 1.5pt;
    }
  }
}

@media (min-width: 688px) {
  .slider {
    display: flex;
  }
}